@use '../../Styles/variables' as vars;

.miever-autocomplete-options {
    color: vars.$autocomplete-list-color;
    background: vars.$autocomplete-bg;
    border: vars.$autocomplete-border-width solid vars.$autocomplete-focus-border-color;
    border-top: none;
    border-radius: 0 0 vars.$autocomplete-border-radius vars.$autocomplete-border-radius;
    max-height: 200px;
    overflow-y: auto;
}

.miever-autocomplete-input {
    margin-bottom: 0;

    > .miever-input-inner:focus {
        border-radius: vars.$autocomplete-border-radius vars.$autocomplete-border-radius 0 0;
    }
}

.miever-autocomplete-option {
    padding: 0 vars.$autocomplete-padding-x;

    &:hover,
    &.highlight {
        cursor: pointer;
        background-color: vars.$primary;
        color: vars.$white;
    }

    &.disabled {
        color: vars.$input-disabled-bg;
        cursor: not-allowed;
    }
}

.miever-autocomplete-sm .miever-input-inner {
    padding: vars.$input-padding-y-sm vars.$input-padding-x-sm;
    font-size: vars.$input-font-size-sm;
    border-radius: vars.$input-border-radius-sm;
}

.miever-autocomplete-lg .miever-input-inner {
    padding: vars.$input-padding-y-lg vars.$input-padding-x-lg;
    font-size: vars.$input-font-size-lg;
    border-radius: vars.$input-border-radius-lg;
}
