@use '../../Styles/variables' as inputVars;

.miever-input-field {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    width: 100%;
}

.miever-input-label {
    font-family: inputVars.$input-font-family;
    font-size: inputVars.$input-font-size-sm;
    font-weight: 500;
    line-height: inputVars.$input-line-height;
    color: inputVars.$input-color;
}

.miever-input-wrapper {
    display: flex;
    width: 100%;
    position: relative;

    .miever-input-icon {
        position: absolute;
        height: 100%;
        width: 36px;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: inputVars.$input-color;

        svg {
            color: inputVars.$input-placeholder-color;
        }
    }
}

.miever-input-icon + .miever-input-inner {
    padding-right: 36px;
}

.miever-input-inner {
    width: 100%;
    padding: inputVars.$input-padding-y inputVars.$input-padding-x;
    font-family: inputVars.$input-font-family;
    font-size: inputVars.$input-font-size;
    font-weight: inputVars.$input-font-weight;
    line-height: inputVars.$input-line-height;
    color: inputVars.$input-color;
    background-color: inputVars.$input-bg;
    background-clip: padding-box;
    border: inputVars.$input-border-width solid inputVars.$input-border-color;
    border-radius: inputVars.$input-border-radius;
    box-shadow: inputVars.$input-box-shadow;
    transition: inputVars.$input-transition;

    &:focus {
        color: inputVars.$input-focus-color;
        background-color: inputVars.$input-focus-bg;
        border-color: inputVars.$input-focus-border-color;
        outline: 0;
    }

    &::placeholder {
        color: inputVars.$input-placeholder-color;
        opacity: 1;
    }

    &:disabled,
    &[readonly] {
        background-color: inputVars.$input-disabled-bg;
        border-color: inputVars.$input-disabled-border-color;
        opacity: inputVars.$btn-disabled-opacity;
        cursor: not-allowed;
    }
}

.miever-input-size-sm .miever-input-inner {
    padding: inputVars.$input-padding-y-sm inputVars.$input-padding-x-sm;
    font-size: inputVars.$input-font-size-sm;
    border-radius: inputVars.$input-border-radius-sm;
}

.miever-input-size-lg .miever-input-inner {
    padding: inputVars.$input-padding-y-lg inputVars.$input-padding-x-lg;
    font-size: inputVars.$input-font-size-lg;
    border-radius: inputVars.$input-border-radius-lg;
}
