@use '../../Styles/variables' as variables;
@use '../../Styles/mixin' as mixin;

.btn {
    position: relative;
    display: inline-block;
    font-weight: variables.$btn-font-weight;
    line-height: variables.$btn-line-height;
    color: variables.$body-color;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: variables.$btn-border-width solid transparent;
    box-shadow: variables.$btn-box-shadow;
    cursor: pointer;
    transition: variables.$btn-transition;
    @include mixin.button-size(variables.$btn-padding-y, variables.$btn-padding-x, variables.$btn-font-size, variables.$btn-border-radius);
    &.disabled,
    &[disabled] {
        cursor: not-allowed;
        opacity: variables.$btn-disabled-opacity;
        box-shadow: none;
        pointer-events: none;
    }
}

.btn-lg {
    @include mixin.button-size(variables.$btn-padding-y-lg, variables.$btn-padding-x-lg, variables.$btn-font-size-lg, variables.$btn-border-radius-lg);
}

.btn-sm {
    @include mixin.button-size(variables.$btn-padding-y-sm, variables.$btn-padding-x-sm, variables.$btn-font-size-sm, variables.$btn-border-radius-sm);
}

.btn-danger {
    @include mixin.button-style(variables.$danger, variables.$danger, variables.$white);
}

.btn-primary {
    @include mixin.button-style(variables.$primary, variables.$primary, variables.$white);
}

.btn-default {
    @include mixin.button-style(variables.$white, variables.$gray-400, variables.$black, variables.$white ,variables.$primary, variables.$primary);
}

.btn-secondary {
    @include mixin.button-style(variables.$secondary, variables.$secondary, variables.$white);
}

.btn-link {
    font-weight: variables.$font-weight-normal;
    color: variables.$primary;
    text-decoration: variables.$link-decoration;
    border: none;
    background: none;
    box-shadow: none;
    &:hover,
    &.hover {
        &::after {
            height: 2px;
            width: calc(100% - #{variables.$btn-padding-x-lg});
            color: variables.$btn-link-hover-color;
            content: "";
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            margin-top: 2rem;
            bottom: 0.1em;
            background: variables.$primary;
        }
    }
    &:focus,
    &.focus {
      box-shadow: none;
      &::after {
        height: 2px;
        width: calc(100% - #{variables.$btn-padding-x-lg});
        content: "";
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        margin-top: 2rem;
        bottom: 0.1em;
        background: variables.$primary;
    }
    }
    &:disabled,
    &.disabled {
      color: variables.$btn-link-disabled-color;
      text-decoration: none;
    }
  }

