@use '../../Styles/variables' as buttonVars;
@use '../../Styles/mixin' as mixin;

.btn {
    position: relative;
    display: inline-block;
    font-weight: buttonVars.$btn-font-weight;
    line-height: buttonVars.$btn-line-height;
    color: buttonVars.$body-color;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: buttonVars.$btn-border-width solid transparent;
    box-shadow: buttonVars.$btn-box-shadow;
    cursor: pointer;
    transition: buttonVars.$btn-transition;
    @include mixin.button-size(buttonVars.$btn-padding-y, buttonVars.$btn-padding-x, buttonVars.$btn-font-size, buttonVars.$btn-border-radius);
    &.disabled,
    &[disabled] {
        cursor: not-allowed;
        opacity: buttonVars.$btn-disabled-opacity;
        box-shadow: none;
        pointer-events: none;
    }
}

.btn-lg {
    @include mixin.button-size(buttonVars.$btn-padding-y-lg, buttonVars.$btn-padding-x-lg, buttonVars.$btn-font-size-lg, buttonVars.$btn-border-radius-lg);
}

.btn-sm {
    @include mixin.button-size(buttonVars.$btn-padding-y-sm, buttonVars.$btn-padding-x-sm, buttonVars.$btn-font-size-sm, buttonVars.$btn-border-radius-sm);
}

.btn-danger {
    @include mixin.button-style(buttonVars.$danger, buttonVars.$danger, buttonVars.$white);
}

.btn-primary {
    @include mixin.button-style(buttonVars.$primary, buttonVars.$primary, buttonVars.$white);
}

.btn-default {
    @include mixin.button-style(buttonVars.$white, buttonVars.$gray-400, buttonVars.$black, buttonVars.$white ,buttonVars.$primary, buttonVars.$primary);
}

.btn-secondary {
    @include mixin.button-style(buttonVars.$secondary, buttonVars.$secondary, buttonVars.$white);
}

.btn-link {
    font-weight: buttonVars.$font-weight-normal;
    color: buttonVars.$primary;
    text-decoration: buttonVars.$link-decoration;
    border: none;
    background: none;
    box-shadow: none;
    &:hover,
    &.hover {
        &::after {
            height: 2px;
            width: calc(100% - #{buttonVars.$btn-padding-x-lg});
            color: buttonVars.$btn-link-hover-color;
            content: "";
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            margin-top: 2rem;
            bottom: 0.1em;
            background: buttonVars.$primary;
        }
    }
    &:focus,
    &.focus {
      box-shadow: none;
      &::after {
        height: 2px;
        width: calc(100% - #{buttonVars.$btn-padding-x-lg});
        content: "";
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        margin-top: 2rem;
        bottom: 0.1em;
        background: buttonVars.$primary;
    }
    }
    &:disabled,
    &.disabled {
        color: buttonVars.$btn-link-disabled-color;
        text-decoration: none;
        pointer-events: none;
        cursor: not-allowed;
    }
  }

