.btn {
    position: relative;
    display: inline-block;
    font-weight: $btn-font-weight;
    line-height: $btn-line-height;
    color: $body-color;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: $btn-border-width solid transparent;
    box-shadow: $btn-box-shadow;
    cursor: pointer;
    transition: $btn-transition;
    @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-border-radius);
    &.disabled,
    &[disabled] {
        cursor: not-allowed;
        opacity: $btn-disabled-opacity;
        box-shadow: none;
        pointer-events: none;
    }
}

.btn-lg {
    @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $btn-font-size-lg, $btn-border-radius-lg);
}

.btn-sm {
    @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $btn-font-size-sm, $btn-border-radius-sm);
}

.btn-danger {
    @include button-style($danger, $danger, $white);
}

.btn-primary {
    @include button-style($primary, $primary, $white);
}

.btn-default {
    @include button-style($white, $gray-400, $black, $white ,$primary, $primary);
}

.btn-secondary {
    background: transparent;
    box-shadow: none;
    color: $secondary;
    &:hover,
    &.hover {
        color: $secondary;
        border: 1px solid $secondary;
    }
    &:focus,
    &.focus {
        border: 1px solid $secondary;
    }
}

.btn-link {
    font-weight: $font-weight-normal;
    color: $secondary;
    text-decoration: $link-decoration;
    border: none;
    background: none;
    box-shadow: none;
    &:hover,
    &.hover {
        &::after {
            height: 2px;
            width: calc(100% - #{$btn-padding-x-lg});
            color: $btn-link-hover-color;
            content: "";
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            margin-top: 2rem;
            bottom: 0.1em;
            background: $secondary;
        }
    }
    &:focus,
    &.focus {
      box-shadow: none;
      &::after {
        height: 2px;
        width: calc(100% - #{$btn-padding-x-lg});
        content: "";
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        margin-top: 2rem;
        bottom: 0.1em;
        background: $secondary;
    }
    }
    &:disabled,
    &.disabled {
      color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }

