.menu {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 30px;
    list-style: none;
    border-bottom: $menu-border-width solid $menu-border-color;
    box-shadow: $menu-box-shadow;
    .menu-item {
        padding: $menu-item-padding-y $menu-item-padding-x;
        cursor: pointer;
        transition: $menu-transition;
        &:hover, &.focus {
            text-decoration: none;
        }
        &:disabled {
            color: $menu-item-disabled-color;
            pointer-events: none;
            cursor: default;
        }
        &.active, &.hover {
            color: $menu-item-active-color;
            border-bottom: $menu-item-active-border-width solid $menu-item-active-color;
        }
    }
}

.menu-vertical {
    flex-direction: column;
    border-bottom: 0px;
    border-right: $menu-border-width $menu-border-color solid;
    .menu-item {
        padding: $menu-item-padding-y $menu-item-padding-x;
        cursor: pointer;
        transition: $menu-transition;
        margin: 10px 0 0 20px;
        &:hover, &.focus {
            text-decoration: none;
        }
        &:disabled {
            color: $menu-item-disabled-color;
            pointer-events: none;
            cursor: default;
        }
        &.active, &.hover {
            color: $menu-item-active-color;
            border-bottom: 0px;
            border-left: $menu-item-active-border-width solid $menu-item-active-color;
        }
    }
    
}