@use '../../Styles/variables' as cardVars;

.miever-card {
    display: flex;
    flex-direction: column;
    color: var(--color-text-primary);
    background: cardVars.$card-bg;
    border: cardVars.$border-width solid cardVars.$card-border-color;
    border-radius: cardVars.$border-radius-lg;
    box-shadow: cardVars.$box-shadow-sm;
    transition: cardVars.$btn-transition;
}

.miever-card-hover {
    &:hover,
    &.hover {
        cursor: pointer;
        border-color: transparent;
        box-shadow: cardVars.$box-shadow;
    }
}

.miever-card-header {
    padding: cardVars.$spacer;
    font-size: cardVars.$h4-font-size;
    font-weight: cardVars.$headings-font-weight;
}

.miever-card-content {
    padding: cardVars.$spacer;
    color: var(--color-text-secondary);
}

.miever-card-subtitle {
    margin: 0 4px;
    color: cardVars.$primary;
    font-weight: 600;
    font-size: cardVars.$font-size-sm;
}
